<div class="container hero-section mb-3">
  <h2>Take on your adventures with Adventures & More!</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quae
    deserunt nesciunt modi, animi placeat debitis soluta, sapiente et, corporis
    dolorum dignissimos exercitationem vel omnis. Dolor blanditiis amet
    voluptates nemo impedit quo possimus ipsa nesciunt, exercitationem animi
    fugiat, dicta similique. Id repudiandae, nihil deserunt fugiat eaque eveniet
    reiciendis cupiditate aperiam fugit, ipsam doloremque nemo ipsum natus
    expedita consectetur. Eligendi magni ea omnis distinctio beatae modi ratione
    alias sint quasi provident itaque qui natus id placeat earum facere
    veritatis libero, recusandae sed accusantium officia ad. Voluptas molestias
    dolorum vero et quae! Molestias veritatis sit perspiciatis quod officia
    debitis eveniet facilis vel molestiae in velit animi, quis esse earum
    aliquid repellendus!
  </p>
  <button routerLink="/about" type="button" class="btn btn-info">
    About Us
  </button>
</div>
