<div class="container">
  <h4 class="text-primary">About Adventures & More:</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum beatae modi
    dolore quia non, fuga, nostrum saepe reprehenderit rem quidem porro
    recusandae expedita. Quo neque fugiat asperiores enim ut, aliquid qui
    consectetur commodi? Rem obcaecati reprehenderit quisquam quia quaerat
    inventore consequatur delectus ut debitis voluptas iste quod nam dolorem et,
    quam impedit provident voluptate id! Ut corrupti ratione quisquam omnis ex,
    unde reprehenderit tempora ad nihil voluptas quibusdam numquam illum animi
    iusto eligendi sed corporis at? Aliquid amet distinctio voluptatum nihil
    deleniti exercitationem maiores odit ratione. Odit mollitia suscipit amet
    officia soluta esse sed earum cumque adipisci nulla? Similique, distinctio.
  </p>
</div>
